$brand-primary: #536a93;
$brand-primary-dark: darken($brand-primary, 10%);
$brand-primary-darker: darken($brand-primary, 30%);
$brand-primary-light: lighten($brand-primary, 10%);
$brand-primary-lighter: lighten($brand-primary, 20%);
$brand-primary-lightest: lighten($brand-primary, 30%);

$brand-secondary: #7A7040;
$brand-secondary-dark: darken($brand-secondary, 8%);
$brand-secondary-darker: darken($brand-secondary, 30%);
$brand-secondary-light: lighten($brand-secondary, 10%);
$brand-secondary-lighter: lighten($brand-secondary, 40%);
$brand-secondary-lightest: lighten($brand-secondary, 50%);

$brand-accent: #7A5640;
$brand-accent-dark: darken($brand-accent, 8%);
$brand-accent-darker: darken($brand-accent, 30%);
$brand-accent-light: lighten($brand-accent, 10%);
$brand-accent-lighter: lighten($brand-accent, 45%);
$brand-accent-lightest: lighten($brand-accent, 50%);

$body-bg: $brand-primary-darker;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  color: $brand-primary-lightest;
}


@import "../imports/ui/components/DieStatLine.scss";
@import "../imports/ui/components/CheckListCard.scss";
@import "../imports/ui/components/BreadCrumb.scss";
@import "../imports/ui/components/PointBox.scss";
@import "../imports/ui/components/CheckBox.scss";
