.check-list-card {
  margin: 10px;

  &__title {
    background: $brand-secondary-dark;
    color: $brand-secondary-lightest;
    text-transform: uppercase;
  }

  &__check-box {
    background: $brand-secondary-lighter;
    color: $brand-secondary-darker;
    text-transform: capitalize;
  }

}
