.check-list-card {
  margin: 10px;

  .check-list-title {
    background: $secondary-dark;
    color: $secondary-lightest;
    text-transform: uppercase;
  }

  .form-check {
    background: $secondary-lighter;
    color: $secondary-darker;
    text-transform: capitalize;
  }

}
