.die-stat-line {
  &__btn {
    &--before-active {
      background-color: $brand-primary;
      color: $brand-primary-lighter;
    }

    &--active {
      background-color: $brand-primary;
      color: $brand-accent-lightest;
    }

    &--after-active {
      background-color: $brand-secondary-lighter;
      color: $brand-primary-lighter;
    }
  }
}
