.point-box {
  @include box($brand-accent-light, 85px, 85px);
  color: $brand-accent-dark;
  font-size: 3em;
  background-color: $brand-secondary-lightest;

  &--warning {
    background-color: lighten($brand-warning, 30%)
  }

  &--danger {
    background-color: lighten($brand-danger, 30%)
  }
}
