.point-box {
  .box {
    color: $brand-accent-dark;
    border-color: $brand-accent-light;
    font-size: 3em;
    transition: background-color 2s;
    background-color: $brand-secondary-lightest;
    width: 85px;
    height: 85px;
  }
  .warning {
    background-color: lighten($brand-warning, 30%)
  }
  .danger {
    background-color: lighten($brand-danger, 30%)
  }
}
